body {
    margin: 60px auto;
    width: 70%;
    background: #f0f8ff;
    text-align: left;
}
nav ul, footer ul {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #fe6f5e;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #fe6f5e;
}
p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    text-align: left;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.flex-container{
  text-align: left;
  display:flex;
  align-items:flex-start;
  align-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15%;
  margin-bottom:;
  width:100vw;
  max-width:202px;
  list-style: none;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 0.5em;
}

ul.posts li {
    list-style: none;
}

#website-wrapper{
  padding-top:5%;
}
